.char {
    display: flex;
    gap: 40px
}
.frontimg {
    display: flex;
    width: 160px;
    height: 160px;
    border-radius: 100%;

}
.stats {
    display: flex;
    flex-direction: column;

}
.descolumn {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: white;
    background-color: rgb(14, 14, 14);
    height: 90%;
}

.titlediv {
    height: 100%;
}

.epoquediv {
    height: auto;
    padding: 60px 4px 0px 4px;
}

.scrolldiv {
    margin: 10px 0;
    height: 100%;
    overflow: auto;
    padding: 10px;
}

.closeButton {
    text-align: center;
    border-radius: 10px;
    max-width: 240px;
    padding: 4px 0;
    background-color: white;
    color: black;
    margin: 40px auto
}

.closeButton:hover {
    background-color: black;
    color: white;
}

.scrolldiv::-webkit-scrollbar {
    background-color: #2b2b2b;
    width: 10px;
    height: 8px;
}
.scrolldiv::-webkit-scrollbar-thumb {
    background: #000000;
}
